<div class="modal fade" id="createTask">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <form asp-action="Create">
                <div class="modal-header">
                    <h4 class="modal-title">Создать задачу</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method='post'>
                        <div class="form-group">
                            <label class="control-label">Название задачи</label>
                            <input class="form-control" name='TaskName' />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Текст задачи</label>
                            <input class="form-control" name='TaskText' />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Название задачи</label>
                            <select class="form-control" asp-items="ViewBag.ProjectId"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Название задачи</label>
                            <input class="form-control" name='TaskName' />
                        </div>
                        <label>Название задачи:</label><br />
                        <input  /><br />
                        <input type='number' name='age' /><br />
                        <input type='submit' value='Send' />
                    </form>

                    
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <button type="button" class="btn" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>

@{/*
    
    */
}
