@model WorkTime.Models.WorkTask

@{
    ViewData["Title"] = "Create";
}

<h1>Создать задачу</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TaskName" class="control-label">Название задачи</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskText" class="control-label">Текст задачи</label>
                <input asp-for="TaskText" class="form-control" />
                <span asp-validation-for="TaskText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label">Проект</label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId" onchange="getUsers()">
                    <option value="0" selected>Без проекта</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CountOfHours" class="control-label">Кол-во часов</label>
                <input asp-for="CountOfHours" class="form-control" />
                <span asp-validation-for="CountOfHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerformerId" class="control-label">Исполнитель</label>
                <select asp-for="PerformerId" class="form-control" asp-items="ViewBag.PerformerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        getUsers();

        function getUsers() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetUsersInProject", "GetValue")',
                data: {
                    __RequestVerificationToken: gettoken(),
                    ProjectID: getProject(),
                },
                success: function (result) {
                    let array = $.parseJSON(result);
                    $("#PerformerId").html('');
                    for (let i = 0; i < array.data.length; i++) {
                        $('#PerformerId').append('<option value="' + array.data[i].UserId + '">' + array.data[i].Surname + ' ' + array.data[i].Name + '</option>');
                    }
                }
            });
        }

        function getProject() {
            if ($("#ProjectId").val()) {
                return $("#ProjectId").val();
            } else {
                return -0;
            }
        }

        function gettoken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

}
