@import 'navigation/sidebar.css';
@import 'navigation/navcustom.css';
@import 'objects/columns.css';
@import 'objects/login-form.css';
@import 'objects/chart.css';
@import 'controls/buttons.css';

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
}

main {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 2rem !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    main {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
        padding-top: 3rem !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

a {
    color: #2182ea;
}

body {
    margin-bottom: 60px;
    overflow: auto;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1161%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(226%2c 237%2c 249%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c649.351C137.266%2c641.692%2c274.664%2c675.822%2c403.512%2c627.877C552.161%2c572.565%2c724.989%2c505.231%2c783.496%2c357.811C842.025%2c210.335%2c758.365%2c44.688%2c692.198%2c-99.523C638.556%2c-216.437%2c517.094%2c-278.735%2c443.146%2c-383.988C357.235%2c-506.269%2c363.623%2c-710.118%2c224.633%2c-765.03C88.183%2c-818.938%2c-43.954%2c-670.29%2c-185.698%2c-632.43C-332.348%2c-593.26%2c-525.502%2c-656.132%2c-621.937%2c-538.911C-718.823%2c-421.14%2c-611.192%2c-241.937%2c-631.308%2c-90.768C-651.111%2c58.05%2c-776.094%2c191.921%2c-738.531%2c337.276C-699.82%2c487.074%2c-576.044%2c614.358%2c-433.527%2c674.581C-297.433%2c732.089%2c-147.517%2c657.582%2c0%2c649.351' fill='%23bbd5f1'%3e%3c/path%3e%3cpath d='M1920 1808.94C2054.29 1796.5810000000001 2161.83 1705.721 2274.511 1631.629 2385.982 1558.333 2523.7290000000003 1502.259 2574.216 1378.771 2624.331 1256.194 2544.462 1123.566 2536.266 991.394 2527.12 843.908 2597.686 684.925 2523.274 557.26 2446.406 425.38199999999995 2295.656 332.98 2143.75 317.977 1997.644 303.547 1885.489 441.423 1743.908 480.284 1598.518 520.191 1406.356 435.453 1305.962 547.933 1205.8890000000001 660.054 1274.092 839.864 1289.54 989.354 1301.714 1107.167 1349.517 1211.17 1386.1390000000001 1323.806 1428.274 1453.4 1420.065 1609.341 1520.916 1700.987 1625.013 1795.583 1779.934 1821.8310000000001 1920 1808.94' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1161'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
}