html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

.bd-sidebar {
    top: 0px;
    position: absolute;
    border-right: 1px solid rgba(0,0,0,.1);
    background-color: #e2e2e2;
    width: 200pt;
}

body {
  margin-bottom: 60px;
  overflow: auto;
}

.bd-toc-link {
    display: block;
    padding: 0.25rem 1.5rem;
    font-weight: 500;
    color: rgba(0,0,0,.65);
}

.height92pt {
    max-height: 92pt;
}

.blue-bg-head {
    background: rgb(155,226,255,1);
}

.blue-bg-head-gradient {
    background: rgb(214,210,255);
    background: linear-gradient(5deg, rgba(214,210,255,1) 0%, rgba(127,217,251,1) 100%);
}

#sideBar {
    z-index: 9999999;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    top: 0;
    left: 0;
}

#sideBarMenu {
    position: absolute;
    background-color: rgb(252, 254, 255);
    width: 256px;
    top: 0;
    left: -256px;
    transition: all 0.2s ease;
}

    #sideBarMenu.show {
        left: 0px !important;
        transition: left 0.2s ease;
    }

    .hidden {
        display: none;
    }

.dark-background {
    height: 100%;
    width: 100%;
    transition: 0.2s;
    transform: translateZ(0);
}

.transition-2s {
    transition: 0.5s;
}

.dark-background.showed {
    background: rgba(0, 0, 0, 0.35);
}

.background_login {
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 48px 40px 36px;
}

#sideBarLinks {
    width: 100%;
}

    #sideBarLinks > .nav-item > a {
        width: 100%;
        font-size: 13.5pt;
        font-weight: 500;
        transition: 0.5s;
        border-radius: 7px;
        
    }

        #sideBarLinks > .nav-item > a > i {
            color: #0B1216;
        }

        #sideBarLinks > .nav-item > a > span {
            color: #0B1216;
        }

    #sideBarLinks > .nav-item {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        
        width: 100%;
    }
    #sideBarLinks > .nav-item > a:hover {
        background-color: #DCF2FF;
    }

#mainContainer {
}

#sideBarLogo {
    width: 100%;
}

.noscroll {
    overflow: hidden;
}