@import 'navigation/sidebar.css';
@import 'navigation/navcustom.css';
@import 'objects/columns.css';
@import 'objects/login-form.css';
@import 'controls/buttons.css';

html {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
}

main {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 2rem !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }

    main {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
        padding-top: 3rem !important;
    }
}

html {
    position: relative;
    min-height: 100%;
}

a {
    color: #2182ea;
}

body {
    margin-bottom: 60px;
    overflow: auto;
}

.hidden {
    display: none;
}