.column-content > .card > .row > dd {
    margin-bottom: 0;
}

.torightside {
    float: right;
}

.start-screen-card {
    background-color: #A8F489;
    border-radius: 10px;
}

    .start-screen-card a {
        text-decoration: none;
        color: #232E36;
        font-size: 26px;
        float: right;
    }

    .start-screen-card b {
        color: #232E36;
    }

    .start-screen-card img {
        height: 130px; 
        position:relative; 
        right: 0;
    }

    .start-screen-card .card-text {
        font-size: 48px;
        color: #232E36;
    }

.task-column {
    width: 250pt;
    vertical-align: top;
    border: 1px solid #dadce0;
    border-radius: 12px;
}

.column-content {
    margin: 5pt 5pt;
}

    .column-content > .card {
        border-radius: 6pt;
    }

.column-head {
    background-color: #d8f1ff;
    border-radius: 8pt 8pt 0 0;
    text-align: center;
}

    .column-head > p {
        padding-top: 5pt;
        padding-bottom: 5pt;
        font-weight: 600;
    }
