.start-screen-card {
    border-radius: 10px;
}

    .start-screen-card a {
        text-decoration: none;
        color: #232E36;
        font-size: 26px;
        float: right;
    }

    .start-screen-card .btn {
        border-color: #d3f3f7;
        background-color: #d3f3f7;
    }

    .start-screen-card b {
        color: #232E36;
    }

    .start-screen-card img {
        height: 130px;
        position: relative;
        right: 0;
    }

    .start-screen-card .card-text {
        font-size: 48px;
        color: #232E36;
    }

.tasks {
    background-color: #97dae3;
    background-image: url('../../resources/waves/wave1.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.invoices {
    background-color: #A8F489;
    background-image: url('../../resources/waves/wave2.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.invoice-button {
    border-color: #d6e7cf !important;
    background-color: #d6e7cf !important;
}
