table {
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    table-layout: auto;
}

tr, td {
    padding-left: 20px!important;
    background: #f7fcff;
    vertical-align: central;
    table-layout: auto;
}


th {
    padding-left: 20px!important;
    padding: 5px;
    background-color: #c9e2fe !important;
}