@using WorkTime.Web.Services
@inject UserInformation UserInfo

@{
    ViewData["Title"] = "Создание шаблона договора";
}

<link rel="stylesheet" href="/css/objects/yseditor.min.css" />
<div style="
    display: flex;
    margin: 5pt;
">
    <label>Отобразить как HTML разметку</label>
    <label class="switch ms-3">
        <input id="documentCheckBox" type="checkbox"/>
        <span class="sliderSwitch round"></span>
    </label>
</div>

<form method="post" onsubmit="return send();">
    <input hidden name="projectId" value="ViewBag.Project.Id" />
    <div class="form-group ps-2">
        <label class="control-label">Шаблон для -</label>
        <select class="form-select w-25 d-inline-block m-3 " id="empTypeId" name="empTypeId" onchange="changeTemplate()">
            @foreach (var item in ViewBag.EmpTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    
    <div id="yseditor" style="width: 297mm; background-color: white;">
        <div></div>
    </div>
    <input type="hidden" name="htmlCode" id="htmlCode" />
    <input type="submit" class="btn btn-primary ps-2 m-3"/>
</form>
@section Scripts {

    <script src="/js/yseditor.min.js"></script>

    <script>
        var myEditor = new ysEditor();

        myEditor.init({
            height: 700,
            scroll: true,
            footer: false
        });

        //document.querySelector(".yseditor-content").addClass('px-5');
        //document.querySelector(".yseditor-content").addClass('py-5');

        const checkDoc = document.getElementById('documentCheckBox');
        changeTemplate();

        checkDoc.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                let docHtml = myEditor.getHTML();
                myEditor.setText(docHtml);
            } else {
                myEditor.setHTML(myEditor.getText());
            }
        })

        function send() {
            if (checkDoc.checked){
                document.getElementById("htmlCode").value = myEditor.getText();
            } else {
                document.getElementById("htmlCode").value = myEditor.getHTML();
            }

            return true;
        };

        function changeTemplate() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetContractTemplate", "GetValue")',
                data: {
                    __RequestVerificationToken: gettoken(),
                    empTypeId: $("#empTypeId").val()
                },
                success: function (result) {
                    let value = $.parseJSON(result);
                    myEditor.setHTML(value.data);
                }
            });
        }

        function gettoken() {
            let token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

}