@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WorkTime.Web.Services
@inject UserInformation UserInfo

@{
    ViewData["Title"] = "Редактирование стандартного шаблона договора";
}

<link rel="stylesheet" href="/css/objects/yseditor.min.css" />
<div style="
    display: flex;
    margin: 5pt;
">
    <label>Отобразить как HTML разметку</label>
    <label class="switch ms-3">
        <input id="documentCheckBox" type="checkbox" />
        <span class="sliderSwitch round"></span>
    </label>
</div>


<form method="post" onsubmit="return send();">
    <div id="yseditor" style="width: 297mm; background-color: white;">
        @Html.Raw(ViewBag.Template)
    </div>
    <input type="hidden" name="htmlCode" id="htmlCode" />
    <input type="submit" class="btn btn-primary ps-2 m-3" />
</form>
@section Scripts {

    <script src="/js/yseditor.min.js"></script>
    <script>
        var myEditor = new ysEditor();

        myEditor.init({
            height: 700,
            scroll: true,
            footer: false
        });

        const checkDoc = document.getElementById('documentCheckBox');

        checkDoc.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                let docHtml = myEditor.getHTML();
                myEditor.setText(docHtml);
            } else {
                myEditor.setHTML(myEditor.getText());
            }
        })

        function send() {
            if (checkDoc.checked) {
                document.getElementById("htmlCode").value = myEditor.getText();
            } else {
                document.getElementById("htmlCode").value = myEditor.getHTML();
            }

            return true;
        };
    </script>

}