@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@using WorkTime.Web.Services
@inject UserInformation UserInfo

@if (SignInManager.IsSignedIn(User))
{
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">
        <div class="container-fluid" >
            <button class="btn light-element-hover" type="button" onclick="toggleSideBar()">
                    <i class="fa fa-bars light-element" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand align-middle light-element" asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="navLogo"
                        src="~/resources/logo.svg"
                    />
                    </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
}
