@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light collapse" id="sideBar" style="position:absolute; top: 0; left: 0;">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <div class="container-fluid" style="display:inline">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#sideBar" aria-expanded="false" aria-controls="sideBar">
                =
            </button>
            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-5 d-none d-sm-inline text-dark">Menu</span>
            </a>
        </div>
        
        
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-dark">Главная</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Tasks" asp-action="Index">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-dark">Задачи</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link align-middle px-0" asp-area="" asp-controller="Invoices" asp-action="Index">
                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline text-dark">Счета</span>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>