@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Начальная страница";
}

@if (SignInManager.IsSignedIn(User))
{
    <!--
        hello, what do you looking for?
        ⠀⠀⠀⠀⠀._⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀__.
    ⠀⠀⠀⠀⠀⠀⠀⠀/ \"-.⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀,-",'/⠀
    ⠀⠀⠀⠀⠀⠀⠀(⠀⠀⠀\⠀,"--.__.--".,'⠀/⠀⠀
    ⠀⠀⠀⠀⠀⠀⠀=---Y(_i.-'⠀⠀|-.i_)---=
    ⠀⠀⠀⠀⠀⠀f⠀,⠀⠀"..'/\\v/|/|/\⠀⠀,⠀l
    ⠀⠀⠀⠀⠀⠀l//⠀⠀,'|/⠀⠀⠀V⠀/⠀/||⠀⠀\\j
    ⠀⠀⠀⠀⠀⠀⠀"--;⠀/⠀db⠀⠀⠀⠀⠀db|/---"
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀|⠀\⠀YY⠀⠀⠀,⠀YY//
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀'.\>_⠀⠀⠀(_),"'⠀__
    ⠀⠀⠀⠀⠀⠀⠀⠀.-"⠀⠀⠀⠀"-.-."⠀I,"⠀⠀`.
    ⠀⠀⠀⠀⠀⠀⠀⠀\.-""-.⠀(⠀,⠀)⠀(⠀\⠀⠀⠀|
    ⠀⠀⠀⠀⠀⠀⠀⠀(⠀⠀⠀⠀⠀l⠀⠀`"'⠀⠀-'-._j
    ⠀__,---_⠀'._."⠀.⠀⠀.⠀⠀⠀⠀\
    (__.--_-'.⠀⠀,⠀⠀:⠀⠀'⠀⠀\⠀⠀'-.
    ⠀⠀⠀⠀,'⠀.'⠀⠀/⠀⠀⠀|⠀⠀⠀\⠀⠀\⠀⠀\⠀"-
    ⠀⠀⠀⠀⠀"--.._____t____.--'-""'
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀/⠀⠀/⠀⠀`.⠀".
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀/⠀":⠀⠀⠀⠀⠀\'⠀'.
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀.'⠀⠀(⠀⠀⠀⠀⠀⠀⠀\⠀⠀⠀:⠀
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀|⠀⠀⠀⠀l⠀⠀⠀⠀⠀⠀j⠀⠀⠀⠀"-.
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀l_;_;I⠀⠀⠀⠀⠀⠀l____;_I
    -->
    <div class="container row" id="start-screen-container" style="position: relative">
        <div class="w-25 p-0 m-0">
            <div class="w-75 h-100 p-4 start-screen-card">
                <img class="float-end" src="~/resources/ruble.png">
                <b class="h2 fs-1">За этот месяц <br> Вы заработали</b>
                <br>
                <b class="h1 h1 card-text">11111</b> <b class="ps-3 h1 card-text">₽</b>
                <div>
                    <a class="float-end text-decoration-none" href="#"><b class="h3" style="color: #47522c;">Перейти к счетам</b></a>
                    <br>
                </div>
                
            </div>
        </div>
        <div class="w-75 p-0 m-0">
            <div class="w-75 h-100 p-4 start-screen-card">
                <img class="float-end" src="~/resources/ruble.png">
                <b class="h2 fs-1">Для Вас доступно <br> к выполнению</b>
                <br>
                <b class="h1 h1 card-text">5</b> <b class="ps-3 h1 card-text">задач</b>
                <div>
                    <a class="float-end text-decoration-none" href="#"><b class="h3" style="color: #47522c;">Перейти к задачам</b></a>
                    <br>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div class="text-center" style="margin-top: 100pt">
        <h1>Добро пожаловать</h1>
        <p>Войдите в систему, или зарегестрируйтесь</p>
        <div>
            <a class="btn btn-outline-primary btn-lg btn-tr transition-2s" role="button" aria-pressed="true" style="width: 220px"
           asp-area="Identity" asp-page="/Account/Login">Войти</a>
            <a class="btn btn-primary btn-lg btn-tr transition-2s" role="button" aria-pressed="true" style="width: 220px"
           asp-area="Identity" asp-page="/Account/Register">Зарегестрироваться</a>
            
        </div>
    </div>
}

