@model WorkTime.Models.Company

@{
    ViewData["Title"] = "Добавление компании";
}

<h1>Добавление компании</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="Name" class="form-control" name="name" />
                <label asp-for="Name" class="control-label">Название</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="DirectorFullName" class="form-control" name="directorFullName"/>
                <label asp-for="DirectorFullName" class="control-label">ФИО директора</label>

                <span asp-validation-for="DirectorFullName" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="CompanyPlace" class="form-control" name="companyPlace"/>
                <label asp-for="CompanyPlace" class="control-label">Расположение компании</label>

                <span asp-validation-for="CompanyPlace" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="BankAccount" name="bankAccount" />
                <label>Счёт в банке</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="BankName" name="bankName" />
                <label>Наименование банка</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="CorInv" name="corInv" />
                <label>Корректирующий счёт</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="bik" name="bik" />
                <label>БИК</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input class="form-control" autocomplete="bankLocation" name="bankLocation" />
                <label>Город</label>
                <span class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
